{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"bin/net_node.cljk" ".cljs"
  "run-tests.cljk" ".cljs"
  "src/goog/crypt/Sha256.cljk" ".cljs"
  "src/kotoba/net/bitswap.cljk" ".cljc"
  "src/kotoba/net/gossip.cljk" ".cljc"
  "src/kotoba/net/ipns_router.cljk" ".cljc"
  "src/kotoba/net/ipns_standard.cljk" ".clj"
  "src/kotoba/net/libp2p/bitswap.cljk" ".cljc"
  "src/kotoba/net/libp2p/connection.cljk" ".cljc"
  "src/kotoba/net/libp2p/dcutr.cljk" ".clj"
  "src/kotoba/net/libp2p/dial.cljk" ".clj"
  "src/kotoba/net/libp2p/dnsaddr.cljk" ".clj"
  "src/kotoba/net/libp2p/fetch.cljk" ".clj"
  "src/kotoba/net/libp2p/gossipsub.cljk" ".cljc"
  "src/kotoba/net/libp2p/gossipsub_host.cljk" ".clj"
  "src/kotoba/net/libp2p/gossipsub_probe.cljk" ".clj"
  "src/kotoba/net/libp2p/gossipsub_qualify.cljk" ".clj"
  "src/kotoba/net/libp2p/handshake.cljk" ".cljc"
  "src/kotoba/net/libp2p/identify.cljk" ".cljc"
  "src/kotoba/net/libp2p/keys.cljk" ".clj"
  "src/kotoba/net/libp2p/mux.cljk" ".clj"
  "src/kotoba/net/libp2p/node.cljk" ".clj"
  "src/kotoba/net/libp2p/pubsub.cljk" ".cljc"
  "src/kotoba/net/libp2p/pubsub_stream.cljk" ".clj"
  "src/kotoba/net/libp2p/serve.cljk" ".cljc"
  "src/kotoba/net/libp2p/socket.cljk" ".clj"
  "src/kotoba/net/libp2p/store.cljk" ".cljc"
  "src/kotoba/net/libp2p/transport.cljk" ".clj"
  "src/kotoba/net/libp2p/validate.cljk" ".clj"
  "src/kotoba/net/transport/envelope.cljk" ".cljc"
  "src/kotoba/net/transport/tcp.cljk" ".cljs"
  "test/kotoba/net/bitswap_test.cljk" ".clj"
  "test/kotoba/net/gossip_test.cljk" ".clj"
  "test/kotoba/net/ipns_router_test.cljk" ".clj"
  "test/kotoba/net/ipns_standard_test.cljk" ".clj"
  "test/kotoba/net/libp2p/connection_test.cljk" ".clj"
  "test/kotoba/net/libp2p/dcutr_test.cljk" ".clj"
  "test/kotoba/net/libp2p/fetch_test.cljk" ".clj"
  "test/kotoba/net/libp2p/gossipsub_host_test.cljk" ".clj"
  "test/kotoba/net/libp2p/gossipsub_test.cljk" ".clj"
  "test/kotoba/net/libp2p/handshake_test.cljk" ".clj"
  "test/kotoba/net/libp2p/node_test.cljk" ".clj"
  "test/kotoba/net/libp2p/pubsub_stream_test.cljk" ".clj"
  "test/kotoba/net/libp2p/pubsub_test.cljk" ".clj"
  "test/kotoba/net/libp2p/serve_test.cljk" ".clj"
  "test/kotoba/net/libp2p/store_portable_test.cljk" ".cljc"
  "test/kotoba/net/libp2p/store_test.cljk" ".clj"
  "test/kotoba/net/libp2p/transport_test.cljk" ".clj"
  "test/kotoba/net/libp2p/validate_test.cljk" ".clj"
  "test/kotoba/net/transport/envelope_test.cljk" ".clj"
  "test/kotoba/net/transport/tcp_demo.cljk" ".cljs"}}
