{:qualification/version 1
 :qualification/profile "kotoba/libp2p-gossipsub-v1.1-tcp-noise-yamux"
 :qualification/subject "8cba27ebf93fbee7dc491a9bcb0f71b2b67d80a7"
 :qualification/outcome :pass
 :qualification/topology
 [{:node "operator" :machine "operator" :address "100.86.235.122"
   :peer-id "12D3KooWLDRMH6vFDZUw8iSEq2u1H6L6DNycyiBv39DigBw8eBps"}
  {:node "joseph" :machine "joseph" :address "100.82.123.35"
   :peer-id "12D3KooWEEwtxwJ7vTvvjxX7CK4cMuFbYLacafapojKJkSTtrQmA"}
  {:node "benjamin-r1" :machine "benjamin" :address "100.75.169.8"
   :peer-id "12D3KooWBNBNnuvX4uVzoeVJnu3XAJw67xpjXm6YJJb84XvdoUdx"}
  {:node "benjamin-r2" :machine "benjamin" :address "100.75.169.8"
   :peer-id "12D3KooWKrVBMrqXGgST23CykFUwv64Wx8swvMcXbfo4XUT76c2T"}]
 :qualification/checks
 [{:check :pre-failure-three-machine-delivery :outcome :pass
   :sha256 "930b43ee036e67a1da7bbb12a2fa288e91903f1e7bf6c4d745551319e456d7fb"
   :publisher-sent 2 :delivered-by ["joseph" "benjamin-r1"]}
  {:check :failed-node-clean-exit :outcome :pass
   :node "benjamin-r1" :deliveries 1 :unique-deliveries 1 :subscriptions 2}
  {:check :remaining-mesh-delivery :outcome :pass
   :sha256 "ba0e181382ccb570aaeedfd5a88db2addf85ae4f29cef4364a13e9b3d0574983"
   :publisher-sent 1 :delivered-by ["joseph"]}
  {:check :new-peer-identity-after-restart :outcome :pass
   :before "12D3KooWBNBNnuvX4uVzoeVJnu3XAJw67xpjXm6YJJb84XvdoUdx"
   :after "12D3KooWKrVBMrqXGgST23CykFUwv64Wx8swvMcXbfo4XUT76c2T"}
  {:check :post-recovery-three-machine-delivery :outcome :pass
   :sha256 "222d5e058c5f0ad7e47b27bd23cb23ea32fc125bc3828b0263a145e8b3d5e118"
   :publisher-sent 2 :delivered-by ["joseph" "benjamin-r2"]}
  {:check :joseph-no-duplicate-delivery :outcome :pass
   :deliveries 3 :unique-deliveries 3 :subscriptions 3}]
 :qualification/logs
 {"operator" "sha256:ea40c8f0d3195ba0f4c6cbae4ac54dced6671c66927f4ee92afa5d489a63b1ad"
  "joseph" "sha256:9609ca633d7c73058078c620c5e2a4a9add28e9436d139920bc41afcece49cdd"
  "benjamin-r1" "sha256:652e12a88dde3f019b6a45548e181345c8f87f0b1ed87e68db405b511a6e575d"
  "benjamin-r2" "sha256:3e6150b6faca2de6a3c3d8059ac15165f67c346f23a5fbef163472d8d37c7e41"}
 :qualification/started-at-ms 1786877024014
 :qualification/completed-at-ms 1786877182888}
